appnope @ file:///Users/ec2-user/buildout/croot/appnope_1759953166014/work
asttokens @ file:///Users/ec2-user/buildout/croot/asttokens_1759952360765/work
Bottleneck @ file:///opt/miniconda3/conda-bld/bottleneck_1761937850165/work
comm @ file:///Users/ec2-user/buildout/croot/comm_1759953207379/work
contourpy @ file:///opt/miniconda3/conda-bld/contourpy_1763643920606/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
debugpy @ file:///opt/miniconda3/conda-bld/debugpy_1762421637378/work
decorator @ file:///Users/ec2-user/buildout/croot/decorator_1759952744985/work
et_xmlfile @ file:///Users/ec2-user/buildout/croot/et_xmlfile_1759954855491/work
executing @ file:///Users/ec2-user/buildout/croot/executing_1761950542723/work
fonttools @ file:///Users/ec2-user/buildout/croot/fonttools_1759953697800/work
ipykernel @ file:///opt/miniconda3/conda-bld/ipykernel_1762946072343/work
ipython @ file:///opt/miniconda3/conda-bld/ipython_1762789298765/work
ipython_pygments_lexers @ file:///Users/ec2-user/buildout/croot/ipython_pygments_lexers_1759952775363/work
jedi @ file:///Users/ec2-user/buildout/croot/jedi_1759952789032/work
jupyter_client @ file:///opt/miniconda3/conda-bld/jupyter_client_1762943080215/work
jupyter_core @ file:///Users/ec2-user/buildout/croot/jupyter_core_1761936662860/work
kiwisolver @ file:///Users/ec2-user/buildout/croot/kiwisolver_1759953814119/work
matplotlib==3.10.6
matplotlib-inline @ file:///opt/miniconda3/conda-bld/matplotlib-inline_1762779167424/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
numexpr @ file:///opt/miniconda3/conda-bld/numexpr_1762165517928/work
numpy @ file:///opt/miniconda3/conda-bld/numpy_and_numpy_base_1762528495806/work/dist/numpy-2.3.4-cp314-cp314-macosx_12_0_arm64.whl#sha256=ec4f391a3ee453bda0d72c1fe6b7ed00676ae60a28021dc5f01abb749cc84420
openpyxl @ file:///Users/ec2-user/buildout/croot/openpyxl_1759956488874/work
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079068/work
pandas @ file:///opt/miniconda3/conda-bld/pandas_1762332181238/work/dist/pandas-2.3.3-cp314-cp314-macosx_12_0_arm64.whl#sha256=57da79e136a56bdcc16167b26420258d02d489b9b2376cc5d4f7090e9930b83a
parso @ file:///opt/miniconda3/conda-bld/parso_1762781702477/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_patsy_1760998269/work
pexpect @ file:///opt/miniconda3/conda-bld/pexpect_1762535936044/work
pillow @ file:///Users/ec2-user/buildout/croot/pillow_1759953916943/work
platformdirs @ file:///opt/miniconda3/conda-bld/platformdirs_1762356673861/work
prompt_toolkit @ file:///opt/miniconda3/conda-bld/prompt-toolkit_1761744861210/work
psutil @ file:///opt/miniconda3/conda-bld/psutil_1761896325336/work
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///Users/ec2-user/buildout/croot/pure_eval_1759952573602/work
Pygments @ file:///Users/ec2-user/buildout/croot/pygments_1759952340044/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
python-dateutil @ file:///Users/ec2-user/buildout/croot/python-dateutil_1759952060416/work
pytz @ file:///Users/ec2-user/buildout/croot/pytz_1759953521738/work
pyzmq @ file:///opt/miniconda3/conda-bld/pyzmq_1762375615819/work
scipy @ file:///Users/ec2-user/buildout/croot/scipy_1761937789924/work/dist/scipy-1.16.2-cp314-cp314-macosx_12_0_arm64.whl#sha256=f026c0143ba8a7e7a174b480e8861d8cd66e2a55420fb86d5da3fd2ed35a0e00
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
six @ file:///Users/ec2-user/buildout/croot/six_1759951952559/work
stack_data @ file:///Users/ec2-user/buildout/croot/stack_data_1759953041043/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1759297136545/work
tornado @ file:///Users/ec2-user/buildout/croot/tornado_1759952144757/work
traitlets @ file:///Users/ec2-user/buildout/croot/traitlets_1759951967871/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
wcwidth @ file:///Users/ec2-user/buildout/croot/wcwidth_1759957431893/work
